<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="Utf-8">
  <link rel="stylesheet" type="text/css" href="/style.css">

</head>

<body>
  <div class="container">
    <div class="content">
      <div class="header">
        <h1>Recipe Box</h1>

      </div>
      <div class="recipesList">
        <ul class="quotes">
          <% for(var i=quotes.length-1; i >= 0; i--) {%>
            <li class="quote">
              <span>
                <%= quotes[i].name %>
              </span>


            </li>
            <% } %>
        </ul>

      </div>
      <div class="modal-content">
        <form action="/quotes" method="POST">
          <label for="name">Recipe</label>
          <input type="text" id="name" name="name" placeholder="RecipeName">
          <label for="ingredients">Ingredients</label>
          <input type="text" id="ingredients" name="ingredients" placeholder="Ingredients">
          <label for="description">Descriere</label>
          <input type="text" id="description" name="description"
            placeholder="Describe how to combine those ingredients">
          <button type="submit">Submit</button>
        </form>
      </div>
      <button id="delete-button">Delete Sarmale Recipe</button>
      <div id="message"></div>

      <div class="recipeView">
        <ul class="quotes">
          <% for(var i=quotes.length-1; i >= 0; i--) {%>
            <li class="quote">
              <div id="details">Name</div>
              <span>
                <%= quotes[i].name %>
              </span>
              <div id="details">Ingredients</div>
              <span>
                <%= quotes[i].ingredients %>
              </span>
              <div id="details">Description</div>
              <span>
                
                <%= quotes[i].description %>
              </span>


            </li>
            <% } %>
        </ul>

      </div>
    </div>

  </div>

  <script src="/main.js"></script>

</body>

</html>